/*container*/
.App{
  height:480px;
  width:280px;
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:1em;
  background-color:var(--VeryDarkBlueCard);
  border-radius:10px;
}
.App h1{
  width:70%;
  font-size:18px;
  color:var(--White);
}
.App p{
  color:var(--SoftBlue);
  font-weight:300;
}
/*article className:chart, father of .price and .timeLeft*/
.App .chart{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.price img, .timeLeft img{
  height:0.9em;
}
.chart .price{
  display:flex;
  align-items:center;
  gap:5px;
}
.price h2{
  font-size:1em;
  color:var(--Cyan);
}
.chart .timeLeft{
  display:flex;
  align-items:center;
  gap:5px;
}
.timeLeft h3{
  font-size:0.8em;
  color:var(--SoftBlue);
}
/*footer*/
footer{
  display:flex;
  align-items:center;
  gap:10px;
  border-top:1px solid var(--SoftBlue);
  padding-top:1em;
}
footer img{
  width:30px;
  border:1px solid var(--White);
  border-radius:50%;
}
footer span{
  color:var(--White);
}
/**hover effects**/
.App h1:hover, footer span:hover{
  color:var(--Cyan);
  cursor:pointer;
}