@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
  /*primary colors*/
  --SoftBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /*neutral colors*/
  --VeryDarkBlueMain: hsl(217, 54%, 11%);
  --VeryDarkBlueCard: hsl(216, 50%, 16%);
  --VeryDarkBlueLine: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  font-family:'Outfit', sans-serif;
}
#root{
  width:100vw;
  height:100vh;
  display:grid;
  place-items:center;
  background-color:var(--VeryDarkBlueMain);
}